<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a class="active" href="index.html">@Resources.Lable.About</a></li>
        <li class="nav__item"><a href="resume.html">@Resources.Lable.MyResume</a></li>
        <li class="nav__item"><a href="portfolio.html">@Resources.Lable.Samples</a></li>
        <li class="nav__item"><a href="blog.html">@Resources.Lable.Blog</a></li>
        <li class="nav__item"><a href="contact.html">@Resources.Lable.ContactMe</a></li>
    </ul>
</div>