<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a class="active" a href="/home/SelectedPage?page=home">@Resources.Lable.About</a></li>
        <li class="nav__item"><a href="/home/SelectedPage?page=resume">@Resources.Lable.MyResume</a></li>
        <li class="nav__item"><a href="/home/SelectedPage?page=projects">@Resources.Lable.Projects</a></li>
        <li class="nav__item"><a href="/home/SelectedPage?page=contact">@Resources.Lable.ContactMe</a></li>
        @* <li class="nav__item"><a href="/home/SelectedPage?page=blog">@Resources.Lable.Blog</a></li>*@
    </ul>
</div>

@*<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a class="active" onclick="pageNavigate('about')">@Resources.Lable.About</a></li>
        <li class="nav__item"><a onclick="pageNavigate('resume')">@Resources.Lable.MyResume</a></li>
        <li class="nav__item"><a onclick="pageNavigate('sample')">@Resources.Lable.Samples</a></li>
        <li class="nav__item"><a onclick="pageNavigate('blog')">@Resources.Lable.Blog</a></li>
        <li class="nav__item"><a onclick="pageNavigate('contact')">@Resources.Lable.ContactMe</a></li>
    </ul>
</div>

<script>
    function pageNavigate(selectedmenu) {
        $(this).addClass('active');
        $.post('/Home/SelectMenu', { pageName: selectedmenu }, function(value) {
            $('.maincontent').html('');
            $('.maincontent').append(value)
        })
    }
</script>*@