@{
    var returnURL = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
    //LTR
}

<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a id="homemenu" href="/home/SelectedPage?page=home">@Resources.Lable.About</a></li>
        <li class="nav__item"><a id="resumemenu" href="/home/SelectedPage?page=resume">@Resources.Lable.MyResume</a></li>
        <li class="nav__item"><a id="projectsmenu" href="/home/SelectedPage?page=projects">@Resources.Lable.Projects</a></li>
        <li class="nav__item"><a id="contactmenu" href="/home/SelectedPage?page=contact">@Resources.Lable.ContactMe</a></li>
        <li class="nav__item" style="margin-left:3rem;font-family:IRY"><a asp-action="changeLanguage" asp-controller="Home" asp-route-culture="fa" asp-route-returnUrl="@returnURL">فارسی</a></li>
        @* <li class="nav__item"><a href="/home/SelectedPage?page=blog">@Resources.Lable.Blog</a></li>*@
    </ul>
</div>
