<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="~/assets/images/my-avatar.png" alt="علی احمدی | Ali Ahmaid">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">@Resources.Lable.Name</h3>
                <div class="badge">@Resources.Lable.Job</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn" onclick="togglemenu()"><span>@Resources.Lable.ShowContatct</span><i class="feathericon-chevron-down"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                        <a href="mailto:ahmadi.ali2219@gmail.com" class="sidebar__text">@Resources.Lable.SendEmail</a>
                    </div>
                </li>
                <!-- Phone -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-phone"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">@Resources.Lable.PhoneNumber</span>
                        <span class="text-overflow" title="03831124">989370692219</span>
                    </div>
                </li>
                <!-- Address -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">@Resources.Lable.Location</span>
                        <span class="text-overflow" title="@Resources.Lable.Address">@Resources.Lable.Address</span>
                    </div>
                </li>
            </ul>
            <div class="separation d-xl-none"></div>
            <!-- Social -->
            <div class="social">
                <a target="_blank" class="social__link" href="https://www.instagram.com/ali.ahmadi.d7/"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" class="social__link" href="https://github.com/AliDeV7"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" class="social__link" href="https://www.linkedin.com/in/alidev7/"><i class="fa-brands fa-linkedin"></i></a>
                <a target="_blank" class="social__link" href="https://stackoverflow.com/users/10786639/ali-ahmadi"><i class="fa-brands fa-stack-overflow"></i></a>
                <a target="_blank" class="social__link" href="https://t.me/AliDev77"><i class="fa-brands fa-telegram"></i></a>
                <a target="_blank" class="social__link" href="https://discordapp.com/users/551885099000659978"><i class="fa-brands fa-discord"></i></a>
            </div>
        </div>
    </div>
</aside>
<script>
    function togglemenu() {
        $('.js-show').toggle('slow');
        //e.preventDefault();
    }
</script>